<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>@</string>
		<key>value</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>key</key>
		<string>A</string>
		<key>value</key>
		<string>000001</string>
	</dict>
	<dict>
		<key>key</key>
		<string>B</string>
		<key>value</key>
		<string>000010</string>
	</dict>
	<dict>
		<key>key</key>
		<string>C</string>
		<key>value</key>
		<string>000011</string>
	</dict>
	<dict>
		<key>key</key>
		<string>D</string>
		<key>value</key>
		<string>000100</string>
	</dict>
	<dict>
		<key>key</key>
		<string>E</string>
		<key>value</key>
		<string>000101</string>
	</dict>
	<dict>
		<key>key</key>
		<string>F</string>
		<key>value</key>
		<string>000110</string>
	</dict>
	<dict>
		<key>key</key>
		<string>G</string>
		<key>value</key>
		<string>000111</string>
	</dict>
	<dict>
		<key>key</key>
		<string>H</string>
		<key>value</key>
		<string>001000</string>
	</dict>
	<dict>
		<key>key</key>
		<string>I</string>
		<key>value</key>
		<string>001001</string>
	</dict>
	<dict>
		<key>key</key>
		<string>J</string>
		<key>value</key>
		<string>001010</string>
	</dict>
	<dict>
		<key>key</key>
		<string>K</string>
		<key>value</key>
		<string>001011</string>
	</dict>
	<dict>
		<key>key</key>
		<string>L</string>
		<key>value</key>
		<string>001100</string>
	</dict>
	<dict>
		<key>key</key>
		<string>M</string>
		<key>value</key>
		<string>001101</string>
	</dict>
	<dict>
		<key>key</key>
		<string>N</string>
		<key>value</key>
		<string>001110</string>
	</dict>
	<dict>
		<key>key</key>
		<string>O</string>
		<key>value</key>
		<string>001111</string>
	</dict>
	<dict>
		<key>key</key>
		<string>P</string>
		<key>value</key>
		<string>010000</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Q</string>
		<key>value</key>
		<string>010001</string>
	</dict>
	<dict>
		<key>key</key>
		<string>R</string>
		<key>value</key>
		<string>010010</string>
	</dict>
	<dict>
		<key>key</key>
		<string>S</string>
		<key>value</key>
		<string>010011</string>
	</dict>
	<dict>
		<key>key</key>
		<string>T</string>
		<key>value</key>
		<string>010100</string>
	</dict>
	<dict>
		<key>key</key>
		<string>U</string>
		<key>value</key>
		<string>010101</string>
	</dict>
	<dict>
		<key>key</key>
		<string>V</string>
		<key>value</key>
		<string>010110</string>
	</dict>
	<dict>
		<key>key</key>
		<string>W</string>
		<key>value</key>
		<string>010111</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Y</string>
		<key>value</key>
		<string>011001</string>
	</dict>
	<dict>
		<key>key</key>
		<string>X</string>
		<key>value</key>
		<string>011000</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Z</string>
		<key>value</key>
		<string>011010</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[</string>
		<key>value</key>
		<string>011011</string>
	</dict>
	<dict>
		<key>key</key>
		<string>\</string>
		<key>value</key>
		<string>011100</string>
	</dict>
	<dict>
		<key>key</key>
		<string>]</string>
		<key>value</key>
		<string>011101</string>
	</dict>
	<dict>
		<key>key</key>
		<string>^</string>
		<key>value</key>
		<string>011110</string>
	</dict>
	<dict>
		<key>key</key>
		<string>-</string>
		<key>value</key>
		<string>011111</string>
	</dict>
	<dict>
		<key>key</key>
		<string> </string>
		<key>value</key>
		<string>100000</string>
	</dict>
	<dict>
		<key>key</key>
		<string>!</string>
		<key>value</key>
		<string>100001</string>
	</dict>
	<dict>
		<key>key</key>
		<string>&quot;</string>
		<key>value</key>
		<string>100010</string>
	</dict>
	<dict>
		<key>key</key>
		<string>#</string>
		<key>value</key>
		<string>100011</string>
	</dict>
	<dict>
		<key>key</key>
		<string>$</string>
		<key>value</key>
		<string>100100</string>
	</dict>
	<dict>
		<key>key</key>
		<string>%</string>
		<key>value</key>
		<string>100100</string>
	</dict>
	<dict>
		<key>key</key>
		<string>&amp;</string>
		<key>value</key>
		<string>100110</string>
	</dict>
	<dict>
		<key>key</key>
		<string>@@@@</string>
		<key>value</key>
		<string>100111</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(</string>
		<key>value</key>
		<string>101000</string>
	</dict>
	<dict>
		<key>key</key>
		<string>)</string>
		<key>value</key>
		<string>101001</string>
	</dict>
	<dict>
		<key>key</key>
		<string>*</string>
		<key>value</key>
		<string>101010</string>
	</dict>
	<dict>
		<key>key</key>
		<string>+</string>
		<key>value</key>
		<string>101011</string>
	</dict>
	<dict>
		<key>key</key>
		<string>,</string>
		<key>value</key>
		<string>101100</string>
	</dict>
	<dict>
		<key>key</key>
		<string>-</string>
		<key>value</key>
		<string>101101</string>
	</dict>
	<dict>
		<key>key</key>
		<string>_</string>
		<key>value</key>
		<string>101110</string>
	</dict>
	<dict>
		<key>key</key>
		<string>/</string>
		<key>value</key>
		<string>101111</string>
	</dict>
	<dict>
		<key>key</key>
		<string>0</string>
		<key>value</key>
		<string>110000</string>
	</dict>
	<dict>
		<key>key</key>
		<string>1</string>
		<key>value</key>
		<string>110001</string>
	</dict>
	<dict>
		<key>key</key>
		<string>2</string>
		<key>value</key>
		<string>110010</string>
	</dict>
	<dict>
		<key>key</key>
		<string>3</string>
		<key>value</key>
		<string>110011</string>
	</dict>
	<dict>
		<key>key</key>
		<string>4</string>
		<key>value</key>
		<string>110100</string>
	</dict>
	<dict>
		<key>key</key>
		<string>5</string>
		<key>value</key>
		<string>110101</string>
	</dict>
	<dict>
		<key>key</key>
		<string>6</string>
		<key>value</key>
		<string>110110</string>
	</dict>
	<dict>
		<key>key</key>
		<string>7</string>
		<key>value</key>
		<string>110111</string>
	</dict>
	<dict>
		<key>key</key>
		<string>8</string>
		<key>value</key>
		<string>111000</string>
	</dict>
	<dict>
		<key>key</key>
		<string>9</string>
		<key>value</key>
		<string>111001</string>
	</dict>
	<dict>
		<key>key</key>
		<string>:</string>
		<key>value</key>
		<string>111010</string>
	</dict>
	<dict>
		<key>key</key>
		<string>;</string>
		<key>value</key>
		<string>111011</string>
	</dict>
	<dict>
		<key>key</key>
		<string>&lt;</string>
		<key>value</key>
		<string>111100</string>
	</dict>
	<dict>
		<key>key</key>
		<string>=</string>
		<key>value</key>
		<string>111101</string>
	</dict>
	<dict>
		<key>key</key>
		<string>&gt;</string>
		<key>value</key>
		<string>111110</string>
	</dict>
	<dict>
		<key>key</key>
		<string>?</string>
		<key>value</key>
		<string>111111</string>
	</dict>
</array>
</plist>
