<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>&quot;@&quot;</key>
		<string>000000</string>
		<key>A</key>
		<string>000001</string>
		<key>B</key>
		<string>000010</string>
		<key>C</key>
		<string>000011</string>
		<key>D</key>
		<string>000100</string>
		<key>E</key>
		<string>000101</string>
		<key>F</key>
		<string>000110</string>
		<key>G</key>
		<string>000111</string>
		<key>H</key>
		<string>001000</string>
		<key>I</key>
		<string>001001</string>
		<key>J</key>
		<string>001010</string>
		<key>K</key>
		<string>001011</string>
		<key>L</key>
		<string>001100</string>
		<key>M</key>
		<string>001101</string>
		<key>N</key>
		<string>001110</string>
		<key>O</key>
		<string>001111</string>
		<key>P</key>
		<string>010000</string>
		<key>Q</key>
		<string>010001</string>
		<key>R</key>
		<string>010010</string>
		<key>S</key>
		<string>010011</string>
		<key>T</key>
		<string>010100</string>
		<key>U</key>
		<string>010101</string>
		<key>V</key>
		<string>010110</string>
		<key>W</key>
		<string>010111</string>
		<key>X</key>
		<string>011000</string>
		<key>Y</key>
		<string>011001</string>
		<key>Z</key>
		<string>011010</string>
		<key>[</key>
		<string>011011</string>
		<key>\\</key>
		<string>011100</string>
		<key>]</key>
		<string>011101</string>
		<key>^</key>
		<string>011110</string>
		<key>dash</key>
		<string>011111</string>
		<key> </key>
		<string>100000</string>
		<key>!</key>
		<string>100001</string>
		<key>&quot;</key>
		<string>100010</string>
		<key>#</key>
		<string>100011</string>
		<key>$</key>
		<string>100100</string>
		<key>%</key>
		<string>100101</string>
		<key>&amp;</key>
		<string>100110</string>
		<key>sdfdsfsdfdfdfsdf</key>
		<string>100111</string>
		<key>(</key>
		<string>101000</string>
		<key>)</key>
		<string>101001</string>
		<key>*</key>
		<string>101010</string>
		<key>+</key>
		<string>101011</string>
		<key>,</key>
		<string>101100</string>
		<key>-</key>
		<string>101101</string>
		<key>_</key>
		<string>101110</string>
		<key>/</key>
		<string>101111</string>
		<key>0</key>
		<string>110000</string>
		<key>1</key>
		<string>110001</string>
		<key>2</key>
		<string>110010</string>
		<key>3</key>
		<string>110011</string>
		<key>4</key>
		<string>110100</string>
		<key>5</key>
		<string>110101</string>
		<key>6</key>
		<string>110110</string>
		<key>7</key>
		<string>110111</string>
		<key>8</key>
		<string>111000</string>
		<key>9</key>
		<string>111001</string>
		<key>:</key>
		<string>111010</string>
		<key>;</key>
		<string>111011</string>
		<key>&lt;</key>
		<string>111100</string>
		<key>=</key>
		<string>111101</string>
		<key>&gt;</key>
		<string>111110</string>
		<key>?</key>
		<string>111111</string>
	</dict>
</array>
</plist>
